img {
  max-width: 100%;
}

h2::before {
  content: '# ';
}

section {
  margin-bottom: 2rem;
}

i {
  display: inline-block;
  font-size: 2rem;
  width: 2.5rem;
  text-align: center;
}

object {
  width: 100%;
  max-width: 100%;
}

figure {
  text-align: center;
}
