@use 'mixins';
@use 'colors';
@import 'vars';
@import 'tags';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "../node_modules/nes.css/css/nes.css";



html,body {
  font-family: "Press Start 2P", system-ui;
  font-size: 16px;
}


header,main, footer {
  padding: var(--padding);
}
div.container {
  @include mixins.min-w(1366) {
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
  }
}
header {
  padding-top: 20px;
  .brand {
    a {
      text-decoration: none;
      h1 {
        text-transform: capitalize;
      }
    }

    p.slogan {
      font-size: 0.8rem;
    }
  }
  border-bottom: 4px solid colors.$bg;
}

header {
  @include mixins.min-w(1366) {
    .container {
      display: flex;
      align-items: end;
      .brand {
        flex: 1 1 auto;
        p {
          margin-bottom: 0;
        }
      }
      .social-buttons {
        margin-left: auto;
      }
    }
  }
}

main {
  section.about {
    figure {
      img {
        width: 40%;
        max-width: 100px;
        display: block;
        margin: 0 auto;
        margin-bottom: 1rem;
        background: white;
        border: 2px solid white;
        padding: 10px;
        border-radius: 50%;
      }
    }
    div.profile {
      h3.name {
        text-transform: capitalize;
      }
      p {
        span.strong {
          font-weight: bold;
          color: #777;
        }
      }
    }
  }

  section.contact {
    ul{
      margin: 0;
      li {
        font-size: 0.9rem;
      }
    }
    .save {
      padding: 20px;

      figure {
        margin-bottom: 1rem;
      }
      div {
        padding: 10px;
        text-align: center;
      }
    }


  }
}

